In [1]:
import os
import boto3
import bz2
import json
import io
import math
from tqdm import tqdm
import pandas as pd
import numpy as np

os.environ["AWS_ACCESS_KEY_ID"] = "AKIAX24LEDU6KRKJHWKM"  
os.environ["AWS_SECRET_ACCESS_KEY"] = "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" 
os.environ["AWS_REGION"] = "us-east-1"  # Default aws region

S3_BUCKET = "shot-probability"
s3_client = boto3.client("s3")

In [2]:
type_dict = {
    'is_home': 'boolean', 'competition': 'string', 'season': 'string',
    'player_name': 'string', 'player_id': 'int64'
}

atk_22 = pd.concat([pd.read_csv(f"s3://{S3_BUCKET}/merged_data/train_pl_2022-2023_{i}.csv", dtype=type_dict) for i in range(19)]).reset_index(drop=True)
atk_23 = pd.concat([pd.read_csv(f"s3://{S3_BUCKET}/merged_data/train_pl_2023-2024_{i}.csv", dtype=type_dict) for i in range(19)]).reset_index(drop=True)
atk_24 = pd.concat([pd.read_csv(f"s3://{S3_BUCKET}/merged_data/train_pl_2024-2025_{i}.csv", dtype=type_dict) for i in range(19)]).reset_index(drop=True)

atk = pd.concat([atk_22, atk_23, atk_24], ignore_index=True)
atk

,r,theta,z,speed,GK_r,GK_theta,openGoal,DefDist0,DefAngle0,OffDist0,...,season,game,attack_merged,period,is_home,frameNum,periodGameClockTime,attack_team_id,player_name,player_id
0,36.632069,0.942201,1.34,0.000000,7.535576,0.752080,0.691115,2.443856,1.300309,5.508077,...,2022-2023,4436,1,0,True,2966,45.778632,7,Wilfried Zaha,480
1,36.655604,0.941318,1.52,1.198789,7.529676,0.750269,0.684063,2.423591,1.313809,5.544241,...,2022-2023,4436,1,0,True,2967,45.811999,7,Wilfried Zaha,480
2,36.693140,0.940377,1.52,1.528162,7.523800,0.748455,0.677959,2.413045,1.332753,5.594073,...,2022-2023,4436,1,0,True,2968,45.845366,7,Wilfried Zaha,480
3,36.716733,0.939497,1.64,1.198825,7.517949,0.746637,0.670869,2.397010,1.346562,5.630581,...,2022-2023,4436,1,0,True,2969,45.878732,7,Wilfried Zaha,480
4,36.740355,0.938618,1.64,1.198789,7.512801,0.744915,0.663881,2.383186,1.361139,5.666987,...,2022-2023,4436,1,0,True,2970,45.912099,7,Wilfried Zaha,480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15969111,4.577619,-0.887526,2.52,12.890469,1.685922,-1.739455,0.518198,1.342670,2.558754,3.138281,...,2024-2025,32374,259,1,<NA>,181721,5659.626097,119,Kristoffer Ajer,5051
15969112,4.188090,-0.851292,2.31,12.605491,1.765986,-1.732314,0.561067,1.659188,2.761870,3.028083,...,2024-2025,32374,259,1,<NA>,181722,5659.659463,119,Kristoffer Ajer,5051
15969113,3.805181,-0.807699,2.31,12.605113,1.844989,-1.725341,0.000000,1.297000,0.294928,2.976981,...,2024-2025,32374,259,1,<NA>,181723,5659.692830,119,Kristoffer Ajer,5051
15969114,3.416972,-0.754352,2.03,12.984193,1.926602,-1.717171,0.000000,0.857735,0.289670,2.996273,...,2024-2025,32374,259,1,<NA>,181724,5659.726197,119,Kristoffer Ajer,5051
15969115,3.055029,-0.688033,2.03,12.605113,2.006353,-1.709803,0.000000,0.430360,0.285002,3.070524,...,2024-2025,32374,259,1,<NA>,181725,5659.759564,119,Kristoffer Ajer,5051

In [3]:
atk.groupby('game')['is_shot'].sum().sort_values()

game
13525     0
4554      0
32127     0
4645      9
4687      9
         ..
13546    40
13627    41
13641    41
4671     42
13628    47
Name: is_shot, Length: 1139, dtype: int64

In [4]:
# Removing games where no shots are recorded (likely due to error)
atk = atk[~atk['game'].isin([4554, 13525, 32127])].reset_index(drop=True)
# Removing frames where no team has clear possession
atk = atk[atk['is_home'].notna()].reset_index(drop=True)

In [5]:
import xgboost as xgb
from xgboost import DMatrix, cv
from sklearn.model_selection import StratifiedGroupKFold

target = 'is_goal'
features = ['r', 'theta', 'z', 'speed', 'GK_r', 'GK_theta', 'openGoal']
for i in range(5):
    features += [f'DefDist{i}', f'DefAngle{i}', f'OffDist{i}', f'OffAngle{i}']

shots = atk[atk.is_shot].reset_index(drop=True)
X, y = shots[features], shots[target]
groups = shots['game']

dtrain = DMatrix(X, label=y)

sgkf = StratifiedGroupKFold(n_splits=5, shuffle=True, random_state=42)
folds = list(sgkf.split(X, y, groups=groups))

cv_results = cv(
    params={'objective': 'binary:logistic', 'tree_method': 'hist', 'device': 'cuda'},
    dtrain=dtrain,
    num_boost_round=100,
    folds=folds,
    metrics='logloss',
    seed=42,
    as_pandas=True,
    verbose_eval=10
)

[0]	train-logloss:0.35580+0.00185	test-logloss:0.36215+0.00682
[10]	train-logloss:0.27456+0.00235	test-logloss:0.32613+0.00759
[20]	train-logloss:0.24688+0.00220	test-logloss:0.32763+0.00783
[30]	train-logloss:0.22459+0.00275	test-logloss:0.33072+0.00891
[40]	train-logloss:0.20443+0.00349	test-logloss:0.33398+0.00930
[50]	train-logloss:0.18780+0.00289	test-logloss:0.33738+0.01054
[60]	train-logloss:0.17071+0.00186	test-logloss:0.34101+0.00949
[70]	train-logloss:0.15458+0.00099	test-logloss:0.34517+0.00924
[80]	train-logloss:0.14071+0.00143	test-logloss:0.34914+0.00954
[90]	train-logloss:0.12962+0.00133	test-logloss:0.35247+0.00958
[99]	train-logloss:0.11987+0.00141	test-logloss:0.35518+0.00931

In [6]:
cv_results['test-logloss-mean'].min()

0.3260566116219529

In [7]:
best_round = cv_results['test-logloss-mean'].idxmin()
cv_results.loc[best_round, 'test-logloss-std']

0.007432362786852161

In [8]:
params = {
    'objective': 'binary:logistic',
    'tree_method': 'hist',
    'device': 'cuda',
    'eval_metric': 'logloss',
    'seed': 42
}

best_round = cv_results['test-logloss-mean'].idxmin()
xg_model = xgb.train(
    params=params,
    dtrain=dtrain,
    num_boost_round=best_round
)

X_all, y_all = atk[features], atk[target]
d_all = DMatrix(X_all, label=y_all)
atk['xG'] = xg_model.predict(d_all)

In [9]:
dtrain = DMatrix(X_all, label=atk['hasShotsIn1s'])
groups_all = atk['game']

sgkf_all = StratifiedGroupKFold(n_splits=5, shuffle=True, random_state=42)
folds_all = list(sgkf.split(X_all, y_all, groups=groups_all))

cv_results = cv(
    params={'objective': 'binary:logistic', 'tree_method': 'hist', 'device': 'cuda'},
    dtrain=dtrain,
    num_boost_round=100,
    folds=folds_all,
    metrics='logloss',
    seed=42,
    as_pandas=True,
    verbose_eval=10
)

[0]	train-logloss:0.10445+0.00015	test-logloss:0.10448+0.00044
[10]	train-logloss:0.02463+0.00022	test-logloss:0.02488+0.00081
[20]	train-logloss:0.02167+0.00020	test-logloss:0.02274+0.00089
[30]	train-logloss:0.02091+0.00017	test-logloss:0.02274+0.00087
[40]	train-logloss:0.02035+0.00023	test-logloss:0.02277+0.00086
[50]	train-logloss:0.01987+0.00023	test-logloss:0.02281+0.00086
[60]	train-logloss:0.01939+0.00022	test-logloss:0.02287+0.00085
[70]	train-logloss:0.01891+0.00024	test-logloss:0.02290+0.00087
[80]	train-logloss:0.01844+0.00023	test-logloss:0.02294+0.00085
[90]	train-logloss:0.01806+0.00024	test-logloss:0.02298+0.00086
[99]	train-logloss:0.01770+0.00022	test-logloss:0.02303+0.00085

In [10]:
cv_results['test-logloss-mean'].min()

0.022700680577322198

In [11]:
best_round = cv_results['test-logloss-mean'].idxmin()
cv_results.loc[best_round, 'test-logloss-std']

0.0008899426584565208

In [10]:
params = {
    'objective': 'binary:logistic',
    'tree_method': 'hist',
    'device': 'cuda',
    'eval_metric': 'logloss',
    'seed': 42
}

best_round = cv_results['test-logloss-mean'].idxmin()
shot_model = xgb.train(
    params=params,
    dtrain=dtrain,
    num_boost_round=best_round
)

atk['shot_proba'] = shot_model.predict(d_all)

In [9]:
xg_model.save_model('xg_model.json')
shot_model.save_model('shot_model.json')

In [10]:
atk['goal_proba'] = atk['xG'] * atk['shot_proba']

atk['int_sec'] = atk['periodGameClockTime'].astype(int)
max_1s = atk.groupby(['game', 'int_sec'])['shot_proba'].idxmax()
atk_1s = atk.loc[max_1s].reset_index(drop=True).drop(columns='int_sec')
atk_1s.groupby('game')['shot_proba'].sum().describe()

count    1136.000000
mean       16.684299
std         4.752613
min         4.294847
25%        13.528775
50%        16.244458
75%        19.345721
max        53.052959
Name: shot_proba, dtype: float64

In [11]:
season_games = list(map(tuple, atk[['season', 'game']].drop_duplicates().values))
metas = pd.concat([pd.read_json(f's3://{S3_BUCKET}/pff-data/tracking/pl/{season}/{game}/metadata.json', lines=True) for season, game in season_games])
metas['home_id'] = metas.homeTeam.apply(lambda x: x['id'])
metas['away_id'] = metas.awayTeam.apply(lambda x: x['id'])
metas['home_name'] = metas.homeTeam.apply(lambda x: x['name'])
metas['away_name'] = metas.awayTeam.apply(lambda x: x['name'])
metas = metas[['gameId', 'home_id', 'home_name', 'away_id', 'away_name', 'date']].reset_index(drop=True)
metas

,gameId,home_id,home_name,away_id,away_name,date
0,4436,7,Crystal Palace,2,Arsenal,2022-08-05 19:00:00
1,4437,54,Fulham,10,Liverpool,2022-08-06 11:30:00
2,4438,1,AFC Bournemouth,3,Aston Villa,2022-08-06 14:00:00
3,4439,55,Leeds United,20,Wolverhampton Wanderers,2022-08-06 14:00:00
4,4440,9,Leicester City,119,Brentford,2022-08-07 13:00:00
...,...,...,...,...,...,...
1131,32370,13,Newcastle United,8,Everton,2025-05-25 15:00:00
1132,32371,221,Nottingham Forest,6,Chelsea,2025-05-25 15:00:00
1133,32372,16,Southampton,2,Arsenal,2025-05-25 15:00:00
1134,32373,17,Tottenham Hotspur,4,Brighton & Hove Albion,2025-05-25 15:00:00
1135,32374,20,Wolverhampton Wanderers,119,Brentford,2025-05-25 15:00:00

In [12]:
atk_all = atk.merge(metas, left_on='game', right_on='gameId')
req_col = ['game', 'date', 'home_id', 'home_name', 'away_id', 'away_name', 'attack_team_id', 'attack_merged', 'period',
           'periodGameClockTime', 'player_id', 'player_name', 'is_shot', 'shot_proba', 'xG', 'goal_proba', 'is_goal']

In [13]:
atk_all['attack_team_name'] = atk_all['home_name'].where(atk_all['is_home'], atk_all['away_name'])

In [14]:
all_shots = atk_all[atk_all.is_shot].reset_index()[req_col]
df_1s = atk_all.loc[max_1s].reset_index()[req_col]

In [15]:
all_shots.to_csv('all_shots_all.csv', index=False)
df_1s.to_csv('sample_1s_all.csv', index=False)

In [16]:
atk_all.to_parquet(f"s3://{S3_BUCKET}/pl_2022-2025.parquet", engine='pyarrow', index=False)